<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Condition(@key='ScreenShotDirectory')" xdt:Transform="SetAttributes(value)" value=""/>
    <add xdt:Locator="Condition(@key='TestWebSiteUrl')" xdt:Transform="SetAttributes(value)" value=""/>
  </appSettings>
  <log4net>
    <appender name="LogFileAppenender">
      <param xdt:Locator="Condition(@name='File')" xdt:Transform="SetAttributes(value)" value="" />
    </appender>
  </log4net>
</configuration>