<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="testSettings" type="testSettings"/> 
  </configSections>
  <appSettings>
    <add key="ScreenShotDirectory" value="C:\UIAutomation\" />
    <add key="Ukwebsiteurl" value="http://10.180.101.11:9000/"/>
    <add key="USwebsiteurl" value="http://us-web-fn.qa.cheapflights.net:9007/"/>
    <add key="Auwebsiteurl" value="http://10.180.101.11:9002/"/>    
    <add key="CAwebsiteurl" value="http://10.180.101.11:9006/"/>
    <add key="CAStresswebsiteurl" value="http://ca-web-st.qa.cheapflights.net:85/"/>
    <add key="browserlocation" value="C:\Selenium\"/>
  </appSettings>

  <!--<testSettings>
    <sites>
      <add site="CFUK" defaultBrowser="IE" Url="http://10.180.101.11:9000/"/>
      <add site="CFAU" defaultBrowser="Chrome" Url="http://10.180.101.11:9002/"/>
      
    </sites>
  </testSettings> -->
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.25.1.0" newVersion="2.25.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <log4net>
    <!-- A1 is set to be a ConsoleAppender -->
    <appender name="LogFileAppenender" type="log4net.Appender.ConsoleAppender">
      <param name="File" value="C:\UIAutomation\logs\log.txt" />
      <param name="AppendToFile" value="true" />
      <!-- A1 uses PatternLayout -->
      <layout type="log4net.Layout.PatternLayout">
        <param type="Footer" value="[Footer]\r\n" />
        <param name="Header" value="[Header]\r\n" />
        <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="INFO" />
      <appender-ref ref="LogFileAppenender" />
    </root>
  </log4net>
</configuration>